@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&family=Roboto+Mono&display=swap');

#pressure-readings,
#temperature-readings,
.rover-photo {
  display:none;
}
.container {
  margin-top: 50px;
}
h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: 'Big Shoulders Display', cursive;
  font-size: 60px;
}
body {
  background-image: linear-gradient(rgb(231, 231, 231),rgb(85, 85, 85), black);
  color: white;
  font-family: 'Roboto Mono', monospace;
}
img {
  height:300px;
  margin: 20px;
}

button {
border-radius: 20px;
background-color: black;
color:white;
text-align: center;
}

button:hover {
  background-color: rgb(165, 59, 27);
  color:white;
  }

.box { 
  text-align: center;
  margin-top: 100px;
  margin-bottom: 70px;
}

p {
  margin: 15px;
}